---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me page"
	pubDate={new Date('September 06 2025')}>
	<p>
		Hey, I'm Shreyas Basarge. Will update this site soon with more info about me.
	</p>
</Layout>
