---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Shreyas Basarge. All rights reserved.
	<div class="social-links">
		<a href="https://www.linkedin.com/in/shreyas-basarge-b4ba4653/" target="_blank">
			<span class="sr-only">Connect with Shreyas Basarge on LinkedIn</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/linkedin">
				<path
					fill="currentColor"
					d="M2.447 5.416h2.631V13.5H2.447V5.416zM3.762 2.5a1.53 1.53 0 1 1 0 3.06 1.53 1.53 0 0 1 0-3.06zm3.13 2.916h2.522v1.116h.036c.351-.666 1.21-1.366 2.492-1.366 2.664 0 3.156 1.753 3.156 4.032V13.5h-2.631v-3.584c0-.855-.016-1.958-1.193-1.958-1.194 0-1.377.933-1.377 1.896V13.5H6.892V5.416z"
				></path>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
