---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/shreyas-basarge-b4ba4653/" target="_blank" rel="noopener noreferrer">
				<span class="sr-only">Follow on LinkedIn</span>
				<svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32">
					<path
						fill="currentColor"
						d="M27 27h-5.1v-7.1c0-1.7-0.6-2.9-2.1-2.9-1.1 0-1.7 0.7-2 1.4-0.1 0.3-0.1 0.7-0.1 1.1V27H12V12h5v2.1c0.7-1.1 2-2.6 4.8-2.6 3.5 0 6.2 2.3 6.2 7.2V27zM7 10.5C5.3 10.5 4 9.2 4 7.5S5.3 4.5 7 4.5 10 5.8 10 7.5 8.7 10.5 7 10.5zM9.5 27H4.5V12h5V27z"
					/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
